@media only screen and (max-width: 1199px) {
  .inner_line {
    width: 95%;
    padding: 0 20px;
  }
  .value .value_cards .card {
    margin: 0 10px;
  }
  .value .value_cards {
    justify-content: center;
  }
  .value .value_cards .card {
    margin: 10px;
  }
  .design .container .row .col-lg-6 .btn-primary {
    margin-bottom: 15px;
  }
  .owl-carousel .owl-text {
    margin-top: 130px;
  }
}

@media only screen and (max-width: 1024px) {
  .exclusive .exclusive-carousel {
    margin: auto;
  }
  .video {
    .row {
      .treiler {
        height: 500px;

      }
    }
  }

}


@media only screen and (max-width: 992px) {
  .main_screen {
    background-position: center center;
  }
  .screen_one {
    background-position: center right;
  }
  .video {
    .row {
      .treiler {
        height: 400px;
      }
    }
  }
  .design .container .row .col-lg-6 .btn:first-of-type {
    margin-bottom: 0px;
  }
  .owl-carousel .owl-text {
    margin-top: 200px;

    h2 {
      font-family: Arial, sans-serif;
    }
  }
  .call_of_duty .row .btn:first-of-type {
    max-width: 213px;
    width: 100%;
  }
  .call_of_duty .row .btn:last-of-type {
    margin: 0;
  }
  .call_of_duty {
    padding-bottom: 0;

    .row {
      h2 {
        margin-bottom: 100px;
      }
    }
  }
.exclusive-carousel{
  .card{
    opacity: 100%;
    &:hover{
    transform: scale(1);
  }
  }
}
}

@media only screen and (max-width: 776px) {
  header {
    padding: 0;
  }
  .call_of_duty .row .btn:first-of-type {
    margin-bottom: 10px;
  }
  .owl-carousel .owl-text {
    margin-top: 50px;
  }
  .value .value_cards .card {
    margin-bottom: 10px;
  }
  .exclusive-carousel .owl-nav button {
    display: none;
  }
  .exclusive-card {
    margin: auto;
    width: 100%;

    .btn {
      margin-top: 35px;
    }
  }
  .video {
    .row {
      .treiler {
        height: 400px;

      }
    }
  }
  .owl-carousel .owl-dots {
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translate(-15%, -50%);
    display: flex;
    align-items: center;
  }

  .exclusive-carousel.owl-carousel .owl-dot {
    display: block;
    width: 10px;
    height: 10px;
    border: solid 2px #34ce57;
    margin-right: 5px;
    border-radius: 50%;

    &.active {
      background-color: #34ce57;
      width: 15px;
      height: 15px;
    }
  }
  .call_of_duty .row .btn:first-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 575px) {
  .design .container .row .col-lg-6 .btn-primary {
    max-width: 275px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  footer {
    .row {
      text-align: center;
    }
  }
  .call_of_duty {
    padding-bottom: 35px;

    .row {
      h2 {
        margin-bottom: 50px;
      }
    }
  }
  .video {
    padding: 35px 0;

    .row {
      margin: 0;
    }
  }
  .video {
    .row {
      .treiler {
        height: 200px;
      }
    }
  }
  .specifications {
    .row {
      p {
        margin-bottom: 20px;
      }
    }
  }
  .main .owl-carousel .owl-nav button.owl-prev, button.owl-next {
    display: none;
  }
  .main .owl-carousel .owl-dots {
    bottom: 5%;
  }
  .main .owl-carousel .owl-dot {
    display: block;
    width: 10px;
    height: 10px;
    border: solid 2px #34ce57;
    margin-right: 5px;
    border-radius: 50%;

    &.active {
      background-color: #34ce57;
      width: 15px;
      height: 15px;
    }
  }
  .design .container .row .col-lg-6 .btn:first-of-type {
    margin-bottom: 15px;
    margin-right: 15px;
  }
  .call_of_duty .row .col-12 .btn {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .main .owl-carousel .owl-dots {
    bottom: 15%;
  }
  .call_of_duty .row .btn:first-of-type {
    margin-bottom: 15px;
  }
  .owl-carousel .owl-text {
    top: 150px;

    .btn {
      margin-top: 100px;
    }
  }
  .specifications {
    .btn {
      width: 100%;
      margin: 7px 0;
    }
  }
  .call_of_duty .row .col-12 .btn {
    max-width: 100%;
    width: 100%;
    margin: 15px 0;
  }

}

@media only screen and (max-width: 360px) {
  .owl-carousel .owl-text {
    top: 50px;

    h3 {
      margin-bottom: 50px;
    }

    .btn {
      margin-top: 20px;
    }
  }

}

@media only screen and (max-width: 320px) {

}