@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueRegular.eot');
  src: url('../fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/HelveticaNeueRegular.woff2') format('woff2'),
  url('../fonts/HelveticaNeueRegular.woff') format('woff'),
  url('../fonts/HelveticaNeueRegular.ttf') format('truetype'),
  url('../fonts/HelveticaNeueRegular.svg#HelveticaNeueRegular') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

$main_font: 'HelveticaNeue';


h1 {
  font-family: $main_font;
  color: white;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-family: $main_font;
  font-size: 36px;
  line-height: 42px;
  color: white;
  font-weight: 600;
}

h3 {
  font-family: $main_font;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

h5 {
  font-family: 'HelveticaNeue';
  font-size: 18px;
  line-height: 21px;
}

.btn {
  margin-top: 135px;
  background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
  border-radius: 4px;
  border: none;
  padding: 9px 22px;
  transition: 0.5s;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;

  &:hover {
    background: #8DD83D;
  }
}


header {
  background: #373A3C;
  padding: 11px 0;

  .navbar-light .navbar-nav .nav-link {
    font-family: $main_font;
    color: white;
    opacity: 50%;
    margin-right: 28px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 500;

    &:hover {
      color: white;
      opacity: 100%;
    }
  }

  .navbar-light .navbar-nav .nav-link.active {
    color: white;
    opacity: 100%;
  }

  .navbar-light .navbar-nav .show > .nav-link {
    color: #ffffff;
  }

  .form-inline .form-control {
    border: solid 1px #cccccc;
    margin-right: 0;
    border-radius: 4px;
    font-family: $main_font;
    color: #435766;
    font-weight: 600;
    background-color: #fff;
  }

  .dropdown-toggle::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f078";
    display: inline-block;
    margin-left: 0;
    vertical-align: 0;
    border: none;
    color: #8DD83D;

  }
}

.main_screen {
  background: url(../images/Star-Wars.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.screen_one {
  background: url(../images/CoD-WWII.jpg) no-repeat;
  background-size: cover;
}

.owl-carousel {
  position: relative;

  .owl-nav button.owl-next:before {
    border: none;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f078";
    display: inline-block;
    color: #a7f356;
    transform: rotate(270deg);
    font-size: 25px;
  }

  .owl-dots {
    display: none;
  }

  .owl-nav button.owl-prev {
    position: absolute;
    top: 50%;
    left: 1%;

    height: 50px;
    width: 65px;
  }

  .owl-nav button.owl-next {
    position: absolute;
    top: 50%;
    right: 1%;
    font-size: 25px;
    height: 50px;
    width: 65px;
  }

  .owl-nav button.owl-prev:before {
    border: none;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f078";
    display: inline-block;
    color: #a7f356;
    transform: rotate(90deg);
    font-size: 25px;
  }

  span {
    display: none;
  }


  .owl-text {
    position: absolute;
    top: 200px;
    right: 15%;


    p {
      font-family: $main_font;
      color: white;
      font-size: 14px;
      line-height: 16px;
    }

    .btn-primary {
      margin-right: 13px;
    }
  }
}

.value {
  background: #5f6366;
  background: -moz-linear-gradient(top, #5f6366 0%, #373a3c 100%);
  background: -webkit-linear-gradient(top, #5f6366 0%, #373a3c 100%);
  background: linear-gradient(to bottom, #5f6366 0%, #373a3c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5f6366', endColorstr='#373a3c', GradientType=0);
  padding-top: 64px;
  padding-bottom: 162px;
  text-align: center;

  .value_img {
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 43px;
  }

  .value_cards {
    justify-content: space-between;
    .card {
      border: solid 1px #8DD83D;
      background-color: #fafafa;

      .card-body {
        h5 {
          text-align: left;
          color: #435766;
          font-weight: 600;
        }

        h3 {
          text-align: left;
          color: #435766;
          margin-top: 13px;
          margin-bottom: 38px;
        }

        .btn {
          margin-top: 0;
          width: 100%;
          background: #8DD83D;
          padding: 19px 23px;
          color: white;
          font-family: $main_font;
          font-size: 16px;
          line-height: 21px;
          font-weight: 500;

          &:hover {
            background: linear-gradient(180deg, #686C6F 0%, #373A3C 100%);
          }
        }
      }

      &:nth-of-type(2) img {
        padding: 53px 56px 66px;
      }

      &:last-of-type img {
        padding: 33px 59px;
      }

      img {
        margin-bottom: 16px;
      }
    }
  }
}


.exclusive {
  background: url(../images/exclusive.jpg) no-repeat;
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 140px;
  position: relative;

  .exclusive_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #17171780;
    opacity: 55%;
  }

  .exclusive-carousel {
    margin-left: 67px;

  }

  .exclusive-content {
    position: inherit;
    z-index: 2;
    .card{
      opacity: 90%;
    }
    .card-body .btn-primary{
      background: #8DD83D;
      margin-top: 43px;
      width: 100%;
      padding: 20px;
      &:hover{
        background-color: #4b880b;
      }
    }
    .container {
      text-align: center;

      .exclusive_btn {
        margin-top: 74px;
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 54px;
    }

    .exclusive-card {
      img {
        max-height: 180px;
        max-width: 320px;
        width: 100%;

      }
    }

    .card-body {
      max-width: 320px;
      width: 100%;
    }
  }

  .owl-nav button.owl-prev {
    top: -23%;
  }
  .owl-nav button.owl-next {
    top: -23%;
    right: 10%;
  }}


.design {
  background: url(../images/design.jpg) no-repeat;
  background-size: cover;
  padding-top: 114px;
  padding-bottom: 145px;
  position: relative;

  .design_cover {
    background: radial-gradient(100% 100% at 50% 0%, rgba(193, 255, 127, 0.1) 0%, rgba(141, 216, 61, 0.1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    position: inherit;
    z-index: 2;

    .row {
      .col-lg-6 {
        p {
          font-family: $main_font;
          color: white;
          font-weight: 600;
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 9px;
        }

        h3 {
          font-weight: 500;
          margin-bottom: 37px;
        }

        .btn {
          margin-top: 0;
          padding: 20px 23px;
          font-weight: 500;
          font-family: Arial, sans-serif;
        }

        .btn-primary {
          margin-right: 15px;
          max-width: 207px;
          width: 100%;
        }
      }
    }
  }
}


footer {
  background-color: #373a3c;
  padding-top: 58px;
  padding-bottom: 76px;

  h5 {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: #7DD42F;
    font-weight: 700;
    margin-bottom: 35px;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 29px;

      a {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 16px;
        color: white;
        text-decoration: none;
        font-weight: 400;

        &:hover {
          color: #1e7e34;
          text-decoration: none;
        }
      }
    }
  }

  .col-md-6 {
    text-align: center;

    .footer_social {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      .twitter {
        margin: 0 20px;
      }
    }
  }

  .inner_line {
    max-width: 1200px;
    height: 2px;
    background-color: #fff;
    margin: auto;

    .policy {
      display: flex;
      justify-content: space-between;
      padding-top: 19px;
      margin-bottom: 38px;
      flex-wrap: wrap;
      color: white;

      .left, .right {
        p {
          color: #ffffff;
          margin-bottom: 0;
        }
      }
    }
  }
}


.navbar-light .navbar-toggler-icon {
  background: none;
  border-top: solid 2px #8DD83D;
  border-bottom: solid 2px #8DD83D;



  &:after {
    content: '-';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #8DD83D;
    margin-top: 12px;
  }
}

